/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "yamm.less";
@import "variables.less";
@import "mixins.less";

@grid-float-breakpoint: @screen-md-min;

ul, ol {
	padding-left: 1.25em;
}
ul.inline,
ol.inline {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

ul.delimited,
ol.delimited {
  li {
    margin-left: 0;
    margin-right: 0;
  }
  li:before {
    content: '|';
    color: #ccc;
    margin-left: .5em;
    margin-right: .5em;
  }
  li:first-child:before {
    content: none;
  }
}

ul.custom-bullets {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

ul.custom-bullets li {
  padding-left: .5em;
}

ul.custom-bullets li:before {
  content: '\00BB';
  color: #821f3f;
  margin-right: .25em;
  font-size: 20px;
  font-weight: 200;
  line-height: 0;
  position: relative;
  top: 1px;
}

small, .small {
	font-size: @font-size-small;
}

.accent-color {
	color: @color-sunypoly-accent;
}


/* ==========================================================================
   Base
   ========================================================================== */

body {
  background-color: @color-sunypoly-blue;
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner {
	#gradient.vertical(rgb(255,255,255); rgb(234,234,234); 0%; 100%);
  margin-bottom: 0;
  border-bottom: none;
}

.banner ul.delimited,
.banner ol.delimited {
	li:before {
		color: lighten(@color-sunypoly-blue,10%);
	}
}


/* ==========================================================================
   Content Wrapper
   ========================================================================== */

#main {
  background: #f9f9f9 url(../../assets/img/background.jpg) repeat-x 0 0;
  .page-header {
    margin-top: 0;
  }
}



/* ==========================================================================
   Content
   ========================================================================== */

/* Expand .sidebar to same height as .main */
.content {
  overflow: hidden;
}

.content {
  background-color: #fff;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.breadcrumb {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #eee;
  background-color: transparent;
  font-weight: bold;
  font-size: @font-size-small;
}

img.alignleft {
	padding-right: @grid-gutter-width / 2;
	padding-bottom: @line-height-computed;
}

img.alignright {
	padding-left: @grid-gutter-width / 2;
	padding-bottom: @line-height-computed;
}


/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed * 2;
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
  padding-top: (@line-height-computed);
  padding-bottom: (@line-height-computed);
  font-size: @font-size-small;
}

.sidebar {
	h3 {
		.h6;
		font-weight: bold;
	}
	h3:first-child {
		margin-top: 10px; /* Match @breadcrumb-vertical-padding */
	}
	.menu,
	ul#contentnavlist {
		margin-top: 0;
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		.active_section,
		.active {
			font-weight: bold;
		}
		> li.current_page_item,
		> li.current_page_ancestor {
			background-color: #fff;
			padding-top:    @line-height-computed / 2;
			padding-bottom: @line-height-computed / 2;
			margin-top:     @line-height-computed / 2;
			margin-bottom:  @line-height-computed / 2;
			padding-left:   @grid-gutter-width / 2;
			padding-right:  @grid-gutter-width / 2;
			margin-left:   -@grid-gutter-width / 2;
			margin-right:  -@grid-gutter-width / 2;
		}
		li {
			margin: 0;
			padding: 0;
			a {
				display: block;
				padding: (@line-height-computed * .85 * .125) 0;
			}
			ul {
				margin-top: 0;
				margin-left: 1.5em;
				padding-left: 0;
				list-style: square;
				li {
					color: @gray-light;
					a {
						padding-left: 0;
					}
				}
			}
		}
	}
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
  .container {
    background-color: #fff;
    > .row {
    }
		> .row:before {
			content: '';
			display: block;
			height: 0;
			clear: both;
			border-bottom: 2px solid @hr-border;
			margin-left: 2px;
			margin-right: 2px;
		}
  }
  .copyright {
    text-align: center;
    .light-on-dark;
    font-weight: bold;
    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;
  }
}

.content-info .widget {
  padding: @line-height-computed/2 0;

}

.footer-links,
.footer-contact {
  margin: @line-height-computed/2 0;
  text-align: center;
  font-size: @font-size-small;
}

.footer-links {
  font-weight: bold;
}

.footer-social-links {
  margin: @line-height-computed;
  text-align: center;
}

.footer-social-links li {
  margin-left: .25em;
  margin-right: .25em;
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Other Elements
   ========================================================================== */

input[type="search"] {
  border-radius: 14px;
}


/* ==========================================================================
	 Sliders
	 ========================================================================== */

.slider-wrapper {
	position: relative;
}
.nivo-controlNav {
	position: absolute;
	bottom: 0;
	z-index: 500; /* Bug fix by [Devon Sprague](http://www.devonsprague.com/) to prevent controlNav buttons from displaying on top of nav menu */
	text-align: center;
	width: 100%;
}

/* ==========================================================================
   Galleries
   ========================================================================== */

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.gallery {
	.make-row(@grid-gutter-width*0);
	.row-no-padding;
	.gallery-item {
		margin-top: 0;
		margin-bottom: @grid-gutter-width;
		.thumbnail {
			padding: 0;
			margin-bottom: 0;
			border: none;
			border-radius: 0;
			img {
				border: none;
			}
		}
	}
	br {
		display: none;
	}
}
.gallery.gallery-columns-1 .gallery-item{
	.make-sm-column(12,@grid-gutter-width);
	.make-md-column(12,@grid-gutter-width);
	.make-lg-column(12,@grid-gutter-width);
}
.gallery.gallery-columns-2 .gallery-item{
	.make-sm-column(6,@grid-gutter-width);
	.make-md-column(6,@grid-gutter-width);
	.make-lg-column(6,@grid-gutter-width);
}
.gallery.gallery-columns-3 .gallery-item{
	.make-sm-column(4,@grid-gutter-width);
	.make-md-column(4,@grid-gutter-width);
	.make-lg-column(4,@grid-gutter-width);
}
.gallery.gallery-columns-4 .gallery-item{
	.make-sm-column(3,@grid-gutter-width);
	.make-md-column(3,@grid-gutter-width);
	.make-lg-column(3,@grid-gutter-width);
}
.gallery.gallery-columns-6 .gallery-item{
	.make-sm-column(2,@grid-gutter-width);
	.make-md-column(2,@grid-gutter-width);
	.make-lg-column(2,@grid-gutter-width);
}
.gallery.gallery-columns-12 .gallery-item{
	.make-sm-column(1,@grid-gutter-width);
	.make-md-column(1,@grid-gutter-width);
	.make-lg-column(1,@grid-gutter-width);
}

.gallery-pull-left {
	.pull-left;
	padding-left: 0;
	padding-right: 0;
	.gallery {
		position: relative;
		left: -@grid-gutter-width / 2;
	}
}

.gallery-pull-right {
	.pull-right;
	padding-left: 0;
	padding-right: 0;
	.gallery {
		position: relative;
		left: @grid-gutter-width / 2;
	}
}


/* ==========================================================================
   Gravity Forms
   ========================================================================== */

body .gform_wrapper ul li.gfield {
	margin-top: @line-height-computed;
	margin-bottom: @line-height-computed;
}

.gform_button,
body .gform_wrapper .gform_footer input.button,
body .gform_wrapper .gform_footer input[type=submit],
body .gform_wrapper input.gform_previous_button,
body .gform_wrapper input.gform_next_button {
	.btn;
	.btn-lg !important;
	.btn-primary;
}
body .gform_wrapper input.gform_previous_button {
	.btn-default;
}


body .gform_wrapper ul.gfield_radio li,
body .gform_wrapper ul.gfield_checkbox li {
	overflow: visible !important;
}

body .gform_wrapper li.gfield.gfield_html ul,
body .gform_wrapper li.gfield.gfield_html ol {
	padding-left: 1.5em !important;
}

.clear-multi {
	.clearfix;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: @screen-md-min) {
}

@media (max-width: @screen-sm-max) {
	
	.content {
		border-left: none;
		border-right: none;
	}
	
	.banner {
		padding-bottom: 10px;
	}
	
	#primary-navigation {
		margin-bottom: 0;
	}

	#primary-navigation .navbar-header {
		.light-on-dark;
	}
	
	#primary-navigation .navbar-brand {
		background-image: url(../../assets/img/sunypoly-wordmark.png);
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		margin: 0;
		padding: 0;
		width: 200px;
		height: 40px;
		text-indent: -100em;
		overflow: hidden;
	}

	#primary-navigation .navbar-header .navbar-btn {
		float: right;
		margin-top: @line-height-computed*1;
		font-weight: 400;
	}
		
	#primary-navigation .navbar-collapse {
		.light-on-dark;
		background-color: darken(@color-sunypoly-blue,5%);
		max-height: none;
		margin-left: -@grid-gutter-width/2;
		margin-right: -@grid-gutter-width/2;
		border-top: none;
		box-shadow: none;
	}

	#primary-navigation ul.header-links {
		text-align: center;
		margin-top: @line-height-computed;
		margin-bottom: @line-height-computed;
		font-weight: bold;
	}

	#primary-navigation .navbar-nav > li > a {
		font-weight: bold;
	}

	#primary-navigation .navbar-nav > li > a:hover,
	#primary-navigation .navbar-nav > li > a:active,
	#primary-navigation .navbar-nav > li.open > a {
		background-color: darken(@color-sunypoly-blue,10%);
	}
	
}

@media (min-width: @screen-md-min) {

	.banner ul.header-links {
		font-size: @font-size-small;
		text-align: right;
		margin-top: @line-height-computed;
		font-weight: bold;
	}

	.banner .search-form {
		.form-control,
		.btn {
			font-size: @font-size-small;
		}
	}

	#primary-navigation {
		margin-bottom: 0;
		border: 0;
	}

	#primary-navigation .navbar-header {
		width: @container-md * 1/2;
		margin-left: -@grid-gutter-width/2;
	}

	#primary-navigation .navbar-sidebar {
		float: right;
		width: @container-md * 1/2;
		margin-right: -@grid-gutter-width/2;
	}

	#primary-navigation .navbar-sidebar .section-title {
		.h1;
		margin-top: @line-height-computed * 2.5;
		margin-bottom: @line-height-computed * .75;
		text-align: right;
	}

	#primary-navigation .navbar-brand {
		background-image: url(../../assets/img/sunypoly-wordmark.png);
		background-repeat: no-repeat;
		display: block;
		margin: 30px 0 0 0;
		padding: 0;
		width: 318px;
		height: 53px;
		text-indent: -100em;
		overflow: hidden;
	}

	#primary-navigation .navbar-header .navbar-btn {
		display: none;
	}
	
	#primary-navigation .navbar-nav {
		
		margin-left: -@grid-gutter-width/2;
		margin-right: -@grid-gutter-width/2;

		clear: both;
		
		#gradient.vertical(@color-sunyit-blue; @color-sunypoly-blue; 0%; 100%);
		float: none;
		/*
		border: 2px solid white;
		border-bottom: 0;
		*/

    > li {
		}		
		> li > a {
			.light-on-dark;
			font-weight: 600;
      text-align: center;
      padding-left: -@grid-gutter-width;
      padding-right: -@grid-gutter-width;
      border-right: 1px solid white;
      font-size: 14px;
		}
		> li:last-child > a {
			border-right: none;
		}
		> li > a:hover {
			#gradient.vertical(@color-sunypoly-blue; @color-sunyit-blue; 0%; 100%);
		}
		> li.open > a,
		> li.open > a:hover,
		> li.open > a:focus {
			background-color: @body-bg;
			background-image: none;
			color: @text-color;
			.reset-filter();
		}
			
		.dropdown-menu {
			color: @text-color;
			border: none;
			font-size: 13px;
			background-color: @body-bg;
			overflow: hidden;
			padding-top: @line-height-computed / 2;
			padding-bottom:  @line-height-computed / 2;
			border-radius: 0;
			margin-left: 0;
			margin-right: 0;
      .yamm-content {
      	padding: 20px @grid-gutter-width/2 30px @grid-gutter-width/2;
		    -webkit-box-shadow: 0 20px 5px 0 black;
	              box-shadow: 0 20px 5px 0 black;
      }
      h2 {
      	margin-top: .5em;
      	margin-bottom: .5em;
      	padding-bottom: .5em;
				border-bottom: 1px solid @gray-lighter;
      }
			h5 {
				margin-bottom: .5em;
				padding-bottom: .5em;
				border-bottom: 1px solid @gray-lighter;
			}
			ul {
			}
			ul.highlight {
				font-weight: 600;
				font-size: 14px;
			}
			ul.list-unstyled {
				margin-bottom: @line-height-computed;
			}
			ul.list-unstyled li {
				margin: .25em 0;
			}
		}
		
	}

}

@media (min-width: @screen-lg-min) {
}
